/*.Header {*/
    /*background-color: #00B5AD;*/
    /*color: white;*/
    /*font-size: 2rem;*/
    /*padding: 1.2rem;*/
    /*text-align: center;*/
    /*font-weight: 600;*/
    /*margin-bottom: 2rem;*/
/*}*/


.header {
    background : #5c7cfa;
    display : table;
    table-layout: fixed;
    width: 100%;
}

.item {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: table-cell;
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

.item:hover{
    background : #748ffc;
}

.item:active, .item.active{
    background: white;
    color: #5c7cfa;
}
.sideMenu {
    height: 100%;
    width: 20%;
    background: #000;
    position: fixed;
}

.contents {
    padding-left: 20%;
    height: 100%;
    width: auto;
}