<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.start.react.mapper.TempMapper">

    <select id="getTempList" resultType="com.start.react.model.TempModel">
        SELECT no,id,name,level,auth FROM temp
    </select>

</mapper>
